[Unit]
Description=kiosk-service
Wants=graphical.target
After=graphical.target

[Service]
Type=simple
Environment="DISPLAY=:0"
Environment="PATH=/home/felix/.nvm/versions/node/v23.8.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games"
ExecStart=/bin/bash /home/felix/Desktop/st-lightRail-map/kiosk.sh
Restart=on-abort
User=felix

[Install]
WantedBy=graphical.target
