[Unit]
Description=kiosk-service
Wants=graphical.target
After=graphical.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/bin/bash ~/st-lightRail-map/kiosh.sh
Restart=on-abort
User=felix

[Install]
WantedBy=graphical.target