* {
    margin: 0px;
    padding: 0px;
    background: hsl(231, 15%, 18%);
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(60, 30%, 96%);
}

.header {
    padding : 8px 8px;
    
}

.header,
#timedisplay {
    color: hsl(60, 30%, 96%);
    background: hsl(232, 14%, 31%);
}

.north,.south{
    display: flex;
    align-items: center;
    padding-top: 120px;
    margin : 20px;
}

.station-name {
    transform: rotate(300deg); /* Rotates the text 45 degrees */
    transform-origin: top; /* Keeps the rotation centered */
    display: inline-block; /* Allows rotation */
    width: 20px;
    white-space: nowrap;
    color: hsl(191, 97%, 77%);
  }
  
  .train-status {
    border: 5px solid hsl(0, 0%, 10%);
    height: 30px;
    width: 30px;
    background: hsl(0, 0%, 40%);
    border-radius: 2px;
  }

.content {
    display: flex;
    flex-direction: column;
}

.top-display {
    flex: 1 0 auto;
}

.bottom-display {
    flex: 1 1 auto;

    display: flex;
}

.center-text {
    text-align: center;
    margin-top: 20px;
}

.train-present {
    background-color: hsl(135, 94%, 65%);
}

.inbound,
.Alert-card {
    margin: 20px;
}

.alert-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inbound h2 {
    color: hsl(326, 100%, 74%);
}

.inbound h3 {
    text-align: center;
}